/*body {
  background: url("../bg-img.jpg") no-repeat center fixed;
  background-size: cover;
  /* background-position: 50%; */


/* 3-D cube for logo */

/* @media (max-width: 600px) {
  .cube{
    position: static;
  }
  .cube__face{
    position: static;
  }
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lobster',
        cursive;
    background-color: black;

}

header {
    background-image: linear-gradient(to right, aqua, white);
}


.scene1 {
    width: 140px;
    height: 140px;
    /* border: 1px solid #CCC; */
    margin: 80px;
    perspective: 80px;
    transform: translate3d(-30px, -45px, 0);
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    transform: translate3d(20px, 25px, 0);
}

.cube {
    width: 140px;
    height: 140px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-70px);
    transition: transform 1s;
}

.cube__face {
    position: absolute;
    width: 140px;
    height: 140px;
    /* border: 2px solid black; */
}

.cube__face--front {
    background: hsla(0, 100%, 50%, 0.7);
}

.cube__face--right {
    background: hsla(60, 100%, 50%, 0.7);
}

.cube__face--back {
    background: hsla(120, 100%, 50%, 0.7);
}

.cube__face--left {
    background: hsla(180, 100%, 50%, 0.7);
}

.cube__face--top {
    background: hsla(240, 100%, 50%, 0.7);
}

.cube__face--bottom {
    background: hsla(300, 100%, 50%, 0.7);
}

.cube__face--front {
    transform: rotateY(0deg) translateZ(-70px);
}

.cube__face--right {
    transform: rotateY(90deg) translateZ(-70px);
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(-70px);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(-70px);
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(-70px);
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(-70px);
}


.cube.show-front {
    transform: translateZ(-70px) rotateY(0deg);
}

.cube.show-right {
    transform: translateZ(-70px) rotateY(-90deg);
}

.cube.show-back {
    transform: translateZ(-70px) rotateY(-180deg);
}

.cube.show-left {
    transform: translateZ(-70px) rotateY(90deg);
}

.cube.show-top {
    transform: translateZ(-70px) rotateX(-90deg);
}

.cube.show-bottom {
    transform: translateZ(-70px) rotateX(90deg);
}

.cube.is-spinning {
    animation: spinCube 6s infinite linear;
}

@keyframes spinCube {
    0% {
        transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: translateZ(-100px) rotateX(360deg) rotateY(360deg);
    }
}

header {
    background-image: linear-gradient(to top, black, white);
    background-size: cover;
    background-repeat: no-repeat;
}

/* 3-D carousels for menu */


* {
    box-sizing: border-box;
}

.scene2 {
    /* border: 1px solid #CCC; */
    width: 210px;
    height: 140px;
    position: relative;
    margin: 40px auto;
    perspective: 1000px;
    transform: translate3d(380px, -270px, 0);
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel__cell {
    position: absolute;
    width: 190px;
    height: 120px;
    left: 10px;
    top: 10px;
    /* border: 2px solid black; */
}

.carousel__cell:nth-child(1) {
    background-color: black;
}

.carousel__cell:nth-child(2) {
    background-color: black;
}

.carousel__cell:nth-child(3) {
    background-color: black;
}

.carousel__cell:nth-child(4) {
    background-color: rgba(0, 255, 0, 0.8);
}

.carousel__cell:nth-child(5) {
    background-color: rgba(0, 255, 170, 0.8);
}

.carousel__cell:nth-child(6) {
    background-color: rgba(0, 170, 255, 0.8);
}

.carousel__cell:nth-child(7) {
    background-color: rgba(0, 0, 255, 0.8);
}

.carousel__cell:nth-child(8) {
    background-color: rgba(170, 0, 255, 0.8);
}

.carousel__cell:nth-child(9) {
    background-color: rgba(255, 0, 170, 0.8);
}


/* rotate each panel by 40deg and also push it along z-axis */

.carousel__cell:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
}

.carousel__cell:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
}

.carousel__cell:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
}

.carousel__cell:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
}

.carousel__cell:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
}

.carousel__cell:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
}

.carousel__cell:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
}

.carousel__cell:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
}

.carousel__cell:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
}

.menu_buttons {
    transform: translate3d(1150px, -270px, 0);
    cursor: pointer;
}

@media (max-width: 800px) {


    .scene2 {
        transform: translate3d(-10px, 30px, 0);
        text-align: center;
    }

    .carousel {
        transform: translate3d(-10px, 30px, 0);
        text-align: center;
    }

    .carosel__cell {
        transform: translate3d(-10px, 30px, 0);
        text-align: center;
    }

    .menu_buttons {
        transform: translate3d(-10px, 50px, 0);
        align-items: center;
    }
}

header .nav-link :hover {
    color: grey;
}

header .row .col-md-5 img {
    margin-top: -40%;
    padding: 4.2vmin 1vmin;
}

header .container .col-md-7 {
    margin-top: -30%;
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.btn1 {
    padding: 5rem 1.5rem;
    border: none;
    border-radius: 4rem;
    background: rgb(199, 221, 233);
    color: whitesmoke;
    font-size: .7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 25px 0px 26px 1px rgb(194, 207, 211);
    cursor: pointer;

}



header .container-fluid .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container-fluid .col-md-7 h1 {
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

/* panel*/
.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 90%;
    height: 100%;
    border-radius: 0.2em;
}

.section-1 .row.col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -10%;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4rem 0;
    font-size: 2em;
}

.section-1 .row.col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);

}

/* Section-2*/
.cover {
    width: 100%;
    height: 55vmin;
    background-image: url(../src/download\ \(3\).png);
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;

}

/* classes page*/
.cover .content {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6vmin;
    color: whitesmoke;
    text-align: center;
    margin-top: 50%;
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;

    border-radius: 5em;
    box-shadow: 1px 2px 50px 0px blue;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: aqua;
}

.numbers .rect p {
    font-family: cursive;
}

/* type of class  page*/
.flip-card {
    align-items: center;
    background-color: white;
    width: 300px;
    height: 300px;
    perspective: 10000;
    box-shadow: rgba(0, 0, 0, 0.1);
    border: none !important;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;

}

.flip-card-front img {
    width: 500px;
    height: 500px;
    border-radius: 30px;
}

/* Style the back side */
.flip-card-back {
    background-color: skyblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}


/* Sing-up pages desigin */
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    max-width: 610px;
}

.signup .panel {
    width: 60%;
    height: 72%;

}

.row {
    display: grid;
    grid-template-columns: 65% 35%;

}

/*.liquid {
    background: url(../src/wave2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
*/
.liquid h4 {
    font-size: 0.9rem;
    color: whitesmoke;

}

.carousel .carousel-item .login_img {
    float: right;
    width: 60%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 3rem;
}

/* sumbit details*/

.btn {


    border-radius: .3rem;
    align-content: center;
    background-color: aquamarine;
    color: whitesmoke;
    box-shadow: 5px 0px 5px 10px steelblue;
    font-family: Arial, Helvetica, sans-serif;

}

.titles {
    margin-bottom: 2.2 rem;
}

form {
    height: 55%;
    max-height: 280px;
    margin-top: 5.5rem;
}

form h3,
form h6 {
    padding: 0;
    margin: 0;
    padding-left: 3rem;
}

form h6 {
    padding-left: 4.5rem;
    color: aqua;
}

form .form-group {
    text-align: left;
    border: 1px solid yellow;
    margin-top: .9rem;
    margin-right: 0.2rem;
    border-radius: 3rem;
}

form .form-group .form-input {
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    font-size: 0.9rem;
    overflow: hidden;
}

form input:focus {
    outline: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
    text-decoration-color: snow;
}